<%- include('partials/header', { title: 'Overview' }) %>
<main>
  <div class="design-header">
    <div style="display: flex;justify-content: right;top: 147px;position: relative;font-size: 45px;right: 100px;">
      <a href="/">HOME</a>
      <a href="/overview">< RETURN TO GENERAL OVERVIEW</a>
    </div>
  </div>
  <div id="thumbnails" class="carousel-container">
    <div class="carousel-wrapper">
      <div id="carousel"></div>
      <button class="carousel-control-prev" type="button"><</button>
      <button class="carousel-control-next" type="button">></button>
    </div>
  </div>

  <div id="details_main">
    <div id="Parliament" style="width: 20%;">
      <figure class="highcharts-figure">
        <div id="Parliament_container"></div>
      </figure>
      <div id="votes" style="left: 50px;position: relative; margin: 140px 0;">
        <div style="display: flex; margin-bottom: 25px;">
          <div id="percentage_num"><b>VOTE PERCENTAGE</b></div>
          <div class="red" id="percentage" style="margin-left: 157px;"></div>
        </div>
        <div style="display: flex;">
          <div id="count_num"><b>VOTE COUNT</b></div>
          <div class="red" id="count" style="margin-left: 283px;"></div>
        </div>
      </div>
      <div id="bar_chart" style="width: 100%; height: 400px"></div>
    </div>
    <div id="selectedThumbnail" style="width: 50%;display: flex;justify-content: center;"></div>
    <div id="description" style="width: 15%;"></div>
  </div>
</main>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/item-series.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="/js/thumbnailData.js"></script>
<script src="/js/pollData.js"></script>
<script src="/js/bar-chart.js"></script>
<script src="/js/details/details.js"></script>
<link rel="stylesheet" href="/css/detail.css" />
