<%- include('partials/header', { title: 'Overview' }) %>
    <!--append return to general overview-->
<main>
    <div>
        <!-- image list -->
    </div>
    <div id="main">
        <div>
            INFORMATION
            <!-- information -->
        </div>
        <div>
            <!-- big image -->
            IMAGE
        </div>
        <div>
            <!-- description -->
            DESC
        </div>
    </div>

</main>

<%- include('partials/footer') %>