<%- include('partials/header', { title: 'Overview' }) %>
<style>
  body {
    background-color: #fff;
  }
  button {
    background-color: black; /* 배경색 검은색 */
    color: white; /* 텍스트 색상 흰색 */
    padding: 10px 20px; /* 여백 추가 */
    border-color: #fff;
    font-size: 16px; /* 폰트 크기 설정 */
    cursor: pointer; /* 마우스 커서 변경 */
  }

  a {
    font-weight: bold;
    margin: 0 30px;
    text-decoration: none;
    color: black;
  }

  .red {
    color: red;
    font-weight: bold;
  }
</style>
<main>
  <div class="design-header">
    <div style="display: flex;justify-content: right;top: 147px;position: relative;font-size: 45px;right: 100px;">
      <a href="/">HOME</a>
      <a href="/overview">< RETURN TO GENERAL OVERVIEW</a>
    </div>
  </div>
  <div id="thumbnails" class="carousel-container">
    <div class="carousel-wrapper">
      <div id="carousel"></div>
      <button class="carousel-control-prev" type="button"><</button>
      <button class="carousel-control-next" type="button">></button>
    </div>
  </div>

  <div id="details_main">
    <div id="Parliament" style="width: 25%;">
      <figure class="highcharts-figure">
        <div id="Parliament_container"></div>
      </figure>
      <div id="votes" style="left: 50px;position: relative;">
        <div style="display: flex;">
          <div id="percentage_num"><b>VOTE PERCENTAGE</b></div>
          <div class="red" id="percentage" style="margin-left: 13px;"></div>
        </div>
        <div style="display: flex;">
          <div id="count_num"><b>VOTE COUNT</b></div>
          <div class="red" id="count" style="margin-left: 60px;"></div>
        </div>
      </div>
      <div id="bar_chart" style="width: 100%; height: 200px"></div>
    </div>
    <div id="selectedThumbnail" style="width: 50%;display: grid;justify-content: center;"></div>
    <div id="description" style="width: 25%;"></div>
  </div>
</main>

<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/item-series.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="https://code.highcharts.com/modules/accessibility.js"></script>
<script src="/js/thumbnailData.js"></script>
<script src="/js/pollData.js"></script>
<script src="/js/bar-chart.js"></script>
<script src="/js/details/details.js"></script>
