<%- include('partials/header', { title: 'Home' }) %>
<style>
  html,
  body {
    overflow: hidden;
  }
</style>
<main class="main-body">
  <div id="graph-container">
    <svg></svg>
  </div>
</main>

<%- include('partials/footer') %>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
<!-- D3.js -->
<script src="https://d3js.org/d3.v6.min.js"></script>
<!-- Your script -->
<script src="/js/index/bar_data.js"></script>
<script src="/js/index/d3_graph.js"></script>
<script src="/js/test.js" defer></script>
