<%- include('partials/header', { title: 'Home' }) %>

    <main>
        <div id="graph-container">
            <svg></svg>
        </div>
    </main>

    <%- include('partials/footer') %>
        <script src="https://d3js.org/d3.v7.min.js"></script>
        <script src="/js/index/d3_graph.js"></script>