body {
	background-color: #fff;
}

button {
	background-color: black;
	/* 배경색 검은색 */
	color: white;
	/* 텍스트 색상 흰색 */
	padding: 10px 20px;
	/* 여백 추가 */
	border-color: #fff;
	font-size: 16px;
	/* 폰트 크기 설정 */
	cursor: pointer;
	/* 마우스 커서 변경 */
}

a {
	font-weight: bold;
	margin: 0 30px;
	text-decoration: none;
	color: black;
}

.red {
	color: red;
	font-weight: bold;
}

#Parliament {
	display: flex;
	flex-direction: column;
	row-gap: 150px;
}

#Parliament #Parliament_container {
	height: 600px;
}

.highcharts-title {
	font-size: 32px !important;
}