@charset "UTF-8";
@media (max-width: 680px) {
  .title-container {
    flex-direction: column;
    padding-top: 30px;
  }
  .title-container .title {
    font-size: 30px;
    text-shadow: 0px 2px 4px rgb(0, 0, 0);
  }
  .title-container .sub-title {
    flex: 120px 0 0;
  }
  .menu-container {
    display: none;
  }
  .detail-container {
    padding-top: 240px;
  }
  .detail-container .left-side {
    padding: 0;
  }
  .detail-container .right-side {
    padding: 20px;
    display: none;
  }
  .detail-container .left-side .img-container {
    background-size: cover;
    height: 100vh;
    position: static;
    background-position: 50%;
  }
  .title.subb.active {
    font-size: 24px;
  }
  .slider {
    padding: 10px !important;
  }
  .line-chart-container {
    padding: 10px !important;
  }
  .slider-img-container .event-img {
    width: 100%;
  }
  .cal-v2 {
    padding-right: 0 !important;
    flex-direction: column;
    padding: 10px !important;
  }
  .cal-v2 .ls {
    flex: 30px 0 0;
    text-align: left;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }
  .cal-v2 .rs .box {
    width: calc(50vw - 20px);
  }
  .sub-tooltip {
    width: inherit;
    height: inherit;
    top: 30px;
    left: 30px;
    right: 30px;
    bottom: 30px;
    z-index: 100000;
    padding-top: 40px;
  }
  .sub-tooltip .close {
    top: 50px;
    right: 50px;
  }
  .person-info-box {
    position: static;
    min-width: 206px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 0 auto;
    float: right;
    transform: translate(-30px, 390px);
  }
  .person-info {
    position: static;
  }
  .info-container {
    position: static;
  }
  .counters {
    line-height: 1em;
    width: 100%;
    font-size: 100px;
    position: inherit;
    display: block;
  }
  .info-container {
    width: 100%;
    text-align: center;
    left: 0;
    right: 0;
    font-size: 28px;
  }
  .detail-container .left-side .movie-container {
    left: 0;
    right: 0;
    transform: inherit;
  }
  .main-graph-container .graph-item {
    margin: 12px 14px;
    display: flex;
    left: 0;
  }
  .main-graph-container {
    flex-direction: column;
    padding-top: 0;
  }
  .main-tooltip {
    width: inherit;
    top: inherit;
    bottom: 20px;
    left: 20px;
    right: 20px;
  }
  .main-graph-container .date {
    width: 50px;
    transform: translate(0, -12px);
    font-size: 14px;
  }
  .main-graph-container .graph-item .bar {
    height: 30px;
    position: relative;
    left: 0;
  }
  .main-graph-container .dotted-line {
    top: 13px;
    bottom: 0;
    width: 1px;
    height: 100vh;
    right: inherit;
    border-right: 1px dashed white;
    opacity: 0.4;
  }
  .main-graph-container .graph-item {
    left: 68px;
  }
  .main-graph-container .graph-item .name {
    margin-bottom: 0;
    /* margin-right: 8px; */
    width: 55px;
    left: -61px;
    top: 7px;
    position: absolute;
  }
  .left-side {
    flex: 1 0 0;
    font-size: 35px;
    line-height: 52px;
    padding-left: 110px;
    padding-right: 50px;
    padding-top: 80px;
  }
  .left-side .item-container {
    min-height: 100vh;
    padding: 20px;
  }
  .left-side .item-container .speech {
    color: black;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 90px;
    height: 160px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
    font-style: italic;
    font-weight: 900;
    font-family: "Red Hat Display", sans-serif;
    transform: translate(-13px, 25px);
  }
  .left-side .item-container .text {
    word-break: keep-all;
    position: relative;
    font-size: 19px;
    line-height: 31px;
    font-weight: 150;
  }
  .left-side .item-container .text.연설문 {
    padding-left: 120px;
  }
  .left-side .item-container .title {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    font-weight: light;
    font-size: 24px;
    line-height: 14px;
    height: 160px;
  }
  .left-side .item-container .title svg {
    width: 18px;
    margin-right: 8px;
  }
  .left-side .item-container .title .cls-1 {
    fill: #ff0000;
    width: 20px;
  }
  .info-c {
    padding: 0 20px;
    transform: translate(0, -10px);
  }
  .info-c .info-container {
    font-size: 16px;
    transform: translate(9px, 12px);
    text-align: right;
  }
  .info-c .info-container {
    width: inherit;
    position: static;
  }
  .detail-container .left-side .movie-container {
    position: static;
  }
  .info-container-sub {
    position: static;
    width: inherit;
    position: static;
    width: inherit;
    font-size: 17px;
    flex: 1;
    line-height: 26px;
    text-align: right;
    padding-right: 10px;
    padding-bottom: 18px;
  }
  .info-flex {
    display: flex;
    align-items: flex-end;
    line-height: 1em;
  }
  .counters {
    flex: 2;
    font-size: 80px;
    line-height: 1em;
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
  }
  .counters span {
    font-size: 60px;
  }
  .left-side .item-container .title svg {
    transform: translate(0, 8px);
  }
  .menu-container {
    display: flex;
    right: 20px;
    left: 0;
    width: 100%;
    justify-content: flex-end;
    top: 20px;
  }
  .menu-container .menu-item {
    width: -moz-fit-content;
    width: fit-content;
    margin: 0;
    margin-right: 8px;
  }
  .counter {
    font-size: 80px;
  }
  .party-color {
    width: 10px;
    height: 15px;
    background-color: blue;
    display: inline-block;
    margin-right: 11px;
  }
  .close {
    font-family: "Noto Sans KR", sans-serif;
    position: absolute;
    top: 20px;
    right: 20px;
    border: 1px solid 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 14px;
    height: 14px;
    border: 1px solid black;
    line-height: 0;
    border-radius: 3px;
    font-size: 8px;
    cursor: pointer;
  }
}/*# sourceMappingURL=media.css.map */